body {
  font-family: Helvetica, sans-serif;
}

.container-2 {
  width: 50%;
  margin: 20px auto;
}

@media only screen and (max-width: 800px) {
  .container-2 {
    width: 80%;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 580px) {
  .container-2 {
    width: 100%;
    margin: 10px auto;
  }
}
