body {
  font-family: Helvetica, sans-serif;
}

.container-2 {
  width: 50%;
  margin: 20px auto;
}

.header-row {
  font-weight: bold;
  color: #333;
}

.record {
  text-align: center;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 25px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .container-2 {
    width: 80%;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 580px) {
  .container-2 {
    width: 100%;
    margin: 10px auto;
  }
}
