{% extends 'base.html' %}

{% block title %} Wishlist {% endblock %}

{% block header %} Christmas Wishlist Program {% endblock %}

{% block content %}
  <a href="{{ url_for('add') }}"><button style="margin-bottom: 10px;">Add a Person</button></a>

  <!-- HEADER -->
  <div class="row header-row text-center">
    <div class="col-sm-3">
      <p>Name</p>
    </div>
    <div class="col-sm-3">
      <p>Status</p>
    </div>
    <div class="col-sm-3">
      <p>Gift</p>
    </div>
    <div class="col-sm-3">
      <p>Controls</p>
    </div>
  </div>

  <!-- second ui test -->
  {% for row in rows %}
  <div class="row record">
    <div class="col-sm-3">
      <a href="/person/{{ row['id'] }}">{{ row["name"] }}</a>
    </div>
    <div class="col-sm-3">
      {% if row["complete"] == "True" %} <img src="static/images/success.png" alt="completed"/> {% else %} <img src="static/images/danger.png" alt="incomplete"/> {% endif %}
    </div>
    <div class="col-sm-3">
      {{ row["gift"] }}
    </div>
    <div class="col-sm-3">
      <a href="/edit/{{ row['id'] }}"><button>edit</button></a>
      <a href="/delete/{{ row['id'] }}"><button style="color: red;">delete</button></a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
